{{- if eq .Database "postgresql"}}
-- name: CreateUser :one
INSERT INTO users (
  name, email, password, active
) VALUES (
  $1, $2, $3, $4
) RETURNING *;

-- name: GetUserByID :one
SELECT id, name, email, password, active, created_at, updated_at FROM users
WHERE id = $1 LIMIT 1;

-- name: GetUserByEmail :one
SELECT id, name, email, password, active, created_at, updated_at FROM users
WHERE email = $1 LIMIT 1;

-- name: ListUsers :many
SELECT id, name, email, password, active, created_at, updated_at FROM users
ORDER BY created_at DESC
LIMIT $1 OFFSET $2;

-- name: CountUsers :one
SELECT COUNT(*) FROM users;

-- name: UpdateUser :one
UPDATE users
SET
  name = $2,
  email = $3,
  active = $4
WHERE id = $1
RETURNING *;

-- name: DeleteUser :exec
DELETE FROM users
WHERE id = $1;

-- name: CountUsersByEmail :one
SELECT COUNT(*) FROM users WHERE email = $1;

{{- else}}
-- name: CreateUser :execresult
INSERT INTO users (
  name, email, password, active
) VALUES (
  ?, ?, ?, ?
);

-- name: GetUserByID :one
SELECT id, name, email, password, active, created_at, updated_at FROM users
WHERE id = ? LIMIT 1;

-- name: GetUserByEmail :one
SELECT id, name, email, password, active, created_at, updated_at FROM users
WHERE email = ? LIMIT 1;

-- name: ListUsers :many
SELECT id, name, email, password, active, created_at, updated_at FROM users
ORDER BY created_at DESC
LIMIT ? OFFSET ?;

-- name: CountUsers :one
SELECT COUNT(*) FROM users;

-- name: UpdateUser :exec
UPDATE users
SET
  name = ?,
  email = ?,
  active = ?
WHERE id = ?;

-- name: DeleteUser :exec
DELETE FROM users
WHERE id = ?;

-- name: CountUsersByEmail :one
SELECT COUNT(*) FROM users WHERE email = ?;
{{end}}
