apiVersion: v2
name: {{.ProjectName}}
description: A Helm chart for {{.ProjectName}} - {{.Description}}
type: application
version: 0.1.0
appVersion: "1.0.0"
home: https://github.com/{{.ModulePath}}
sources:
  - https://github.com/{{.ModulePath}}
maintainers:
  - name: {{.ProjectName}} Team
    email: team@{{.ProjectName}}.com
keywords:
  - {{.ProjectName}}
  - go
  - {{.Framework}}
  {{- if .Database.Enabled}}
  - {{.Database.Type}}
  {{- end}}
  - api
  - microservice
annotations:
  category: Application
dependencies:
{{- if .Database.Enabled}}
{{- if eq .Database.Type "postgresql" }}
  - name: postgresql
    version: 12.1.9
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
{{- else if eq .Database.Type "mysql" }}
  - name: mysql
    version: 9.4.6
    repository: https://charts.bitnami.com/bitnami
    condition: mysql.enabled
{{- end}}
{{- end}}
  - name: redis
    version: 17.3.7
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
    tags:
      - cache
