package ports

import (
	"{{.ModulePath}}/domain"
	{{- if eq .Database "postgresql" }}
	"github.com/google/uuid"
	{{- end}}
)

// UserService is a port that defines the contract for user-related application logic.
type UserService interface {
	{{- if eq .Database "postgresql" }}
	CreateUser(name, email, password string) (*domain.User, error)
	GetUser(id uuid.UUID) (*domain.User, error)
	UpdateUser(id uuid.UUID, name, email *string) (*domain.User, error)
	DeleteUser(id uuid.UUID) error
	{{- else}}
	CreateUser(name, email, password string) (*domain.User, error)
	GetUser(id uint) (*domain.User, error)
	UpdateUser(id uint, name, email *string) (*domain.User, error)
	DeleteUser(id uint) error
	{{- end}}
	GetAllUsers(page, perPage int) ([]*domain.User, int64, error)
}
