-- Create users table
CREATE TABLE users (
    {{- if eq .Database "postgresql" }}
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    {{- else }}
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    {{- end }}
    name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    password TEXT NOT NULL,
    active BOOLEAN NOT NULL DEFAULT TRUE,
    {{- if eq .Database "postgresql" }}
    created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW()
    {{- else }}
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    {{- end }}
);
